{% extends 'manager/main_template.html' %}
{% block content %}
<!-- <button class="btn btn-success btn-lg float-right" type="submit">Submit</button> align button right -->
<br>
  <!--Books Table-->
  <div class="container-fluid py-5 p-5" >
      <!-- <div class="card-body  container-fluid mb-2"> -->
        <!-- Add Book Button -->
        <a href="/manager/books/" class="btn btn-danger float-right mb-3" data-toggle="modal" data-target="#modalLoginForm">Add New Book +</a>
      <!-- </div> -->
      <h5 class="card-title text-uppercase mb-0">Books</h5>
      <!-- search bar -->
    <form action="/manager/searchBook/" method="post">
      <div class="input-group">
        <input type="search" class="form-control rounded" name="search" placeholder="Search By: Book Name/Author" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </form>
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="table-responsive" style="overflow:scroll; height: 600px;">
                  <table class="table no-wrap user-table mb-0">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Book Id</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Book Name</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Author</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Purchase Date</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Current Status</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Actions</th>
                        <!-- <th scope="col" class="border-0 text-uppercase font-medium">Manage</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                          <tr>
                            <td class="pl-4 text-muted">{{ forloop.counter }}</td>
                            <td>

                                <h5 class="font-medium mb-0">{{book.id}}</h5>
                            </td>
                            <td>
                                <span class="font-medium mb-0">{{book.title}}</span><br>
                            </td>
                            <td>
                                <span class="text-muted">{{book.author}}</span><br>
                            </td>
                            <td>
                              <span class="text-muted">{{book.created_at}}</span><br>
                            </td>
                            
                            <td class="text-center">
                              {% if book.current_status == 'FREE' %}
                              <span style="color: forestgreen;">{{book.current_status}}</span><br>
                              {% else %}
                              <span style="color: crimson;">{{book.current_status}}</span><br>
                              {% endif %}
                            </td>
                            <td>
                              <a href="" class="building-link view" data-toggle="modal" data-target="#viewBookForm" 
                              data-title="{{book.title}}" data-bookid="{{book.id}}" data-author="{{book.author}}" 
                              data-lang="{{book.language}}" data-image="{{book.image}}" data-status="{{book.current_status}}">View</a>&nbsp;
                              <a href="" class="building-link edit" data-toggle="modal" data-target="#editBookForm" 
                              data-title="{{book.title}}" data-bookid="{{book.id}}" data-author="{{book.author}}" 
                              data-lang="{{book.language}}" data-image="{{book.image}}">Edit</a>&nbsp;
                              <a href=""  class="building-link delete" data-toggle="modal" data-target="#deleteBookForm" data-title="{{book.title}}" data-bookid="{{book.id}}">Delete</a>&nbsp;
                            </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!--Books Table Close-->
</div>
</div>

<!-- edit Books Popup-->
{% include 'manager/editbook.html' %}

<!-- Add Books Popup-->
{% include 'manager/bookview.html' %}

<!-- Add Books Popup-->
{% include 'manager/addbook.html' %}

<!-- Delete Book conformation popup -->
{% include 'manager/deletebook.html' %}

<script>
  // $('.delete').on('shown.bs.modal', function () {
//jq for deletebook
  $('body').on('click','.delete',function(e){
  //console.log(e.target.dataset.title);
  
  var id = e.target.dataset.bookid;
  var title = e.target.dataset.title;
  //console.log(title);
  $('.booktitle').html(title);
  $('#deleteBookForm').modal('show'); //load modal
  $('#bookid').val(id);
  $('#title').val(title);
  });
    
//jq to edit book
  $('body').on('click','.edit',function(e){
  //console.log(e.target.dataset.title);

  var id = e.target.dataset.bookid;
  var title = e.target.dataset.title;
  var author = e.target.dataset.author;
  var lang = e.target.dataset.lang;
  var image = e.target.dataset.image;

  // console.log(image);
 
  $('#editBookForm').modal('show'); //load modal
  $('#ebookid').val(id);
  $('#title').val(title);
  $('#author').val(author);
  $('#lang').val(lang);
  url = '/' + image;
  console.log(url);
  $('#img').attr('src', url);
  });

  //jq to view book
  $('body').on('click','.view',function(e){
  //console.log(e.target.dataset.title);

  var id = e.target.dataset.bookid;
  var title = e.target.dataset.title;
  var author = e.target.dataset.author;
  var lang = e.target.dataset.lang;
  var image = e.target.dataset.image;
  var status = e.target.dataset.status;
  //console.log(image);
 
  $('#viewBookForm').modal('show'); //load modal
  $('.ebookid').html(id);
  $('.title').html(title);
  $('.author').html(author);
  $('.lang').html(lang);
  $('.status').html(status);
  url = '/' + image;
  console.log(url);
  $('#imgview').attr('src', url);
  });
</script>

{% endblock %}