{% extends 'manager/main_template.html' %}
{% load static %}
{% block content %}
<div class="container col py-5" >
    <a href="" class="btn btn-danger float-right mb-3" data-toggle="modal" data-target="#modalLoginForm">Add New Book+</a>
  <h5 class="card-title text-uppercase mb-0">Books</h5>
  <!-- search bar -->
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search By: Book Name/Author" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">Search</button>
  </div>
</div>
<h1>sdfjksdfhkjfadjkhfajdhfjkhkjhfjkdhfkshdkfhsdkhfsjkdhfjshdn,nc,vncnvx,n,xcn,vnxcv,nxvn,xcmvxcv,n,</h1>
{% endblock %}