{% extends 'manager/main_template.html' %}
{% block content %}

<div class="container col py-5">
  <h5 class="card-title text-uppercase mb-0">Manage Members</h5><br>
<div class="row">
    <div class="col-md-12">
      <form action="/manager/manageMembers/" method="post">
        <div class="input-group">
          <input type="search" class="form-control rounded" name="search" placeholder="Search By: Member Name" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
      </form>
        <div class="card">
            <div class="table-responsive">
              <form method="post">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Membership Id</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Join Date</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Action</th>
                      <!-- <th scope="col" class="border-0 text-uppercase font-medium">Manage</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in members %}
                    <tr>
                      <td class="pl-4">{{ forloop.counter }}</td>
                      <td>

                          <h5 class="font-medium mb-0">{{member.name}}</h5>
                          <span class="text-muted fa fa-mobile"> {{member.mobile}}</span>
                      </td>
                      <td>
                          <span class="text-muted">{{member.membership_no}}</span><br>
                      </td>
                      <td>
                          <span class="text-muted">{{member.created_at}}</span><br>
                      </td>
                      <td>
                        {% if member.status == 0 %}
                            <span style="color: crimson;">Inactive</span><br>
                        {% elif member.status == 1 %}
                            <span style="color: forestgreen;">Active</span><br>
                        {% endif %}
                      </td>                     
                      <td>
                          <a href="" value="View">View</a> &nbsp;
                        {% if member.status == 0 %}
                          <a href="{% url 'enableMember' pk=member.id %}" id="enable">Enable</a>
                        {% elif member.status == 1 %}
                          <a href="{% url 'disableMember' pk=member.id %}" id="disable">Disable</a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

<!-- Add Books Popup-->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Member View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    </div>
  </div>
</div>
<!-- Add Books Popup Close-->