{% extends 'manager/main_template.html' %}
{% block content %}

<div class="container-fluid py-5 p-5">
    <h4 class="pl-5 pt-4">Update the Library Settings</h4><br>
    <form method="post" action="/manager/settings/">
        <div class="container d-flex align-items-center pt-4">
            <div class="row-md-5">
                <div class="col">
                    <Label>Library Name</Label>
                </div>
                <div class="col">
                    {{form.library_name}}
                </div>
            </div><br>
            <div class="row-md-5">
                <div class="col">
                    <Label>Maximum Checkout Days</Label>
                </div>
                <div class="col">
                    {{form.max_checkout_days}}
                </div>
            </div><br>
            <div class="row-md-5">
                <div class="col">
                    <Label>Late Fines</Label>
                </div>
                <div class="col">
                    {{form.late_fees}}
                </div>
            </div>
            <div class="row-md-5 pt-4 pl-3">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <!-- Alert content -->
    {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        {{msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
</div>
{% endblock %}